.search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #E0E0DF;
    border-radius: 8px 0px 0px 8px;
    background-color: #F5F5F5;
    flex-grow: 1;
}


.search-input-container {
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #F5F5F5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.header-button {
    border: 1px solid #E0E0DF;
    border-left: 0;
    padding: 8px;
    color: #575757;
    font-weight: 400;
}


.live-header-button {
    border-radius: 0px 8px 8px 0px;
}

.filters-modal{
    position: absolute;
    background: #F5F5F5;
    width: 350px;
    height: 200px;
    left: calc(100% - 372px);
    top: 100%;
    border: 1px solid #E0E0DF;
    border-radius:  8px;
    padding: 15px;
    z-index: 100;
}

.filters-modal.hide{
    display: none;
}

.filters-modal-input:focus {
    border: 0;
    border-color: #F5F5F5;
}